BASKET_PAYMENT_TEMPLATE
Subpart used if the GPvar "products_payment" was set. This displays the final information about the order before the payment is initiated. Exact same features as BASKET_TEMPLATE
Übersicht über Ihre Bestellung
Stück	 	Produkt	Preis	Gesamt
###FIELD_QTY###	###PRODUCT_IMAGE###	###PRODUCT_TITLE###	###PRICE_TAX### EUR	###PRICE_TOTAL_TAX### EUR
Rechnungsadresse
Name/Unternehmen:	###PERSON_NAME###
Adresse:	###PERSON_ADDRESS_DISPLAY###
###PERSON_ZIP### ###PERSON_CITY###
###PERSON_COUNTRY###
Telefon:	###PERSON_TELEPHONE###
Email:	###PERSON_EMAIL###
(An diese Email-Adresse wird die Bestätigung
Ihrer Bestellung geschickt!)
Lieferanschrift
Kontakt:	###DELIVERY_NAME###
Adresse:	###DELIVERY_ADDRESS_DISPLAY###
###DELIVERY_ZIP### ###DELIVERY_CITY###
###DELIVERY_COUNTRY###
Telefon:	###DELIVERY_TELEPHONE###
Email:	###DELIVERY_EMAIL###
Bemerkungen
###DELIVERY_NOTE_DISPLAY###
Versand und Bezahlung
Versandart:	###SHIPPING_TITLE###
Versandkosten:	###PRICE_SHIPPING_TAX###
Bezahlungsart:	###PAYMENT_TITLE###

GESAMTPREIS: ###PRICE_TOTAL_TAX### EUR
(enthaltene MwSt: ###PRICE_TOTAL_ONLY_TAX### EUR)
Die Ware wird per Postpaket versendet.
Bitte überweisen Sie den Rechnungsbetrag nach Erhalt der Rechung auf unser Konto.

Die Ware wird im Büro abgeholt.
Die Bezahlung erfolgt bar bei Abholung der Ware.
Es fallen keine Versandkosten an.

Die Ware wird per Nachnahme versendet.
Die Bezahlung erfolgt bar bei Entgegennahme der Ware

Bestätigung über Ihre Bestellung
Vielen Dank für Ihre Bestellung bei xxx.
Die genauen Angaben zu Ihrer Bestellung finden Sie nochmals aufgeführt.

Rechnungs- und Versandinformationen:
Bestellnummer: ###ORDER_UID###
Bestelldatum: ###ORDER_DATE###

Ihre Rückfragen zur Bestellung können schneller bearbeitet werden, wenn Sie uns die Bestellnummer mitteilen.

Die Bestätigung der Bestellung ist an die Email-Adresse
###CUSTOMER_RECIPIENTS_EMAIL### geschickt worden.
Drucken Sie diese Seite für Ihre Unterlagen aus.

Zahlungsart
Sie haben folgende Zahlungsart gewählt: Vorauskasse
Die Ware wird per Postpaket versendet.
Bitte überweisen Sie den Rechnungsbetrag auf unser Konto.
Sie haben folgende Zahlungsart gewählt: Selbstabholer:

Die Ware wird im Büro abgeholt.
Die Bezahlung erfolgt bar bei Abholung der Ware.
Es fallen keine Versandkosten an.

Sie haben folgende Zahlungsart gewählt: Nachnahme:
Die Waren werden Ihnen zugesandt und Sie bezahlen bei Erhalt.
Übersicht über Ihre Produkte
Stück	 	Produkt	Preis	Gesamt
###FIELD_QTY###	###PRODUCT_IMAGE###	###PRODUCT_TITLE###	###PRICE_TAX### EUR	###PRICE_TOTAL_TAX### EUR
Rechnungsadresse
Name/Unternehmen:	###PERSON_NAME###
Adresse:	###PERSON_ADDRESS_DISPLAY###
###PERSON_ZIP### ###PERSON_CITY###
###PERSON_COUNTRY###
Telefon:	###PERSON_TELEPHONE###
Email:	###PERSON_EMAIL###
Lieferanschrift
Kontakt:	###DELIVERY_NAME###
Adresse:	###DELIVERY_ADDRESS_DISPLAY###
###DELIVERY_ZIP### ###DELIVERY_CITY###
###DELIVERY_COUNTRY###
Telefon:	###DELIVERY_TELEPHONE###
Email:	###DELIVERY_EMAIL###
Bemerkungen
###DELIVERY_NOTE_DISPLAY###
Versand und Bezahlung
Versandart:	###SHIPPING_TITLE###
Versandkosten:	###PRICE_SHIPPING_TAX###
Bezahlungsart:	###PAYMENT_TITLE###

GESAMTPREIS: ###PRICE_TOTAL_TAX### EUR
(enthaltene MwSt: ###PRICE_TOTAL_ONLY_TAX### EUR)
Die Ware wird per Postpaket versendet.
Bitte überweisen Sie den Rechnungsbetrag nach Erhalt der Rechung auf unser Konto.
Die Ware wird im Büro abgeholt.
Die Bezahlung erfolgt bar bei Abholung.
Es fallen keine Versandkosten an.

Die Ware wird per Nachnahme versendet.
Die Bezahlung erfolgt bar bei Entgegennahme der Ware
Wichtige Informationen
Die Auslieferung
Die Auslieferung: Die bestellten Artikel werden in der Regel innerhalb einer Woche nach Eingang der Bestellung ausgeliefert. Die gelieferte Ware bleibt bis zur vollständigen Bezahlung Eigentum von xxx.

Widerspruchsrecht
Bei Fernabsatzverträgen hat der Käufer das Recht, den Kaufvertrag ohne Begründung innerhalb von 2 Wochen ab Eingang der Ware zu widerrufen. Der Käufer ist in diesem Fall verpflichtet, die Ware an den Absender zurückzusenden. Bis zu einem Warenwert von 40,- Euro trägt der Käufer die Kosten der Rücksendung. Dieses Widerrufsrecht gilt nicht bei Lieferung von Zeitungen oder Zeitschriften.

Nicht beschädigte oder falsch ausgelieferte Ware kann innerhalb von 14 Tagen zurückgegeben werden. Davon ausgeschlossen sind DVD's und Videos.

Erfüllungsort und Gerichtsstand ist xxx.

Ihre Ansprechpartnerin
xxx xxx
xxxstraße x
xxx Wien

Telefon: xxx
Fax: xxx
Email: xxx@example.com
