<!------------------------------------------------------ SEARCH ---------------------------------------------------------------->


<!-- ###ITEM_SEARCH### begin
	Subpart for the search-form
	-->
    <div class="tt_products_item_search">
    	<form method="post" action="{FORM_URL}">
        	<div>
	            <label for="swords">Suchen nach: </label>
	                <input size="30" maxlength="100" type="text" id="swords" name="swords" value="{SWORDS}" />
	            <input type="submit" name="order" value="Search" />
            </div>
        </form>
    </div>
<!-- ###ITEM_SEARCH### end -->

<!-- ###ITEM_SEARCH_EMPTY### begin
	Subpart displayed if the search was empty. If the search was successfull, the ITEM_LIST_TEMPLATE in the top is used.
	-->
    <p class="error"><strong>Es wurde leider kein passendes Produkt gefunden.</strong></p>
<!-- ###ITEM_SEARCH_EMPTY### end -->
